@model Entities.DTOs.UserForRegisterDto

@{
    ViewData["Title"] = "Register";
    Layout = null;
}
<html>
<head>
    <script src="~/js/site.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="~/css/all.min.css" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="~/AdminLTE-3.0.4/login-form-19/css/style.css">
</head>
<br />
<body>
    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 text-center mb-5">
                    <h2 class="heading-section"><b>EĞİTİM MERKEZİ</b></h2>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-6 col-lg-4">
                    <div class="login-wrap py-5">
                        <div class="img d-flex align-items-center justify-content-center" style="background-image: url(/AdminLTE-3.0.4/login-form-19/images/bg.jpg); "></div>
                        <h3 class="text-center mb-0">Kayıt Ol</h3>
                        <p class="text-center">Aşağıdaki bilgileri girerek kayıt olun</p>
                        @using (Html.BeginForm("Register", "User", FormMethod.Post))
                        {
                            <div class="form-group">
                                @Html.Label("Tc kimlik numaranız:")
                                @Html.TextBoxFor(x => x.Tc, new { autocomplete = "off" })<br />
                                @Html.ValidationMessageFor(x => x.Tc, "", new { @class = "text-danger" })
                                <br /><br />
                                @Html.Label("Kullanıcı Adı:")<br />
                                @Html.TextBoxFor(x => x.UserName, new { autocomplete = "off" })<br />
                                @Html.ValidationMessageFor(x => x.UserName, "", new { @class = "text-danger" })
                                <br /><br />
                                @Html.Label("Adınız:")<br />
                                @Html.TextBoxFor(x => x.FirstName, new { autocomplete = "off" })<br />
                                @Html.ValidationMessageFor(x => x.FirstName, "", new { @class = "text-danger" })
                                <br /><br />
                                @Html.Label("Soyadınız:")<br />
                                @Html.TextBoxFor(x => x.LastName, new { autocomplete = "off" })<br />
                                @Html.ValidationMessageFor(x => x.LastName, "", new { @class = "text-danger" })
                                <br /><br />
                                @Html.Label("Email Adresiniz:")<br />
                                @Html.TextBoxFor(x => x.Email, new { autocomplete = "off" })<br />
                                @Html.ValidationMessageFor(x => x.Email, "", new { @class = "text-danger" })
                                <br /><br />

                                @Html.Label("Şifre:")
                            <div class="col-md-10 input-group">
                                @Html.PasswordFor(x => x.Password)<br />
                                @*<input type="button" class="btnShow" id="btnShow" value="göster" style="font-size:8px;" />*@
                                <i class="fa fa-eye text-white" id="btnShow" style="font-size:20px;"></i>
                            </div>
                                @Html.ValidationMessageFor(x => x.Password, "", new { @class = "text-danger" })
                                <br /><br />
                                @Html.Label("Şifre tekrarı:")
                            <div class="col-md-10 input-group">
                                @Html.PasswordFor(x => x.Passwordtekrar)<br />
                                @*<input type="button" class="btnShow" id="btnShow2" value="göster" style="font-size:8px;" />*@
                                <i class="fa fa-eye text-white" id="btnShow" style="font-size:20px;"></i>
                            </div>
                                @Html.ValidationMessageFor(x => x.Passwordtekrar, "", new { @class = "text-danger" })
                                <br /><br />
                                <button>Kaydet</button>

                            </div>
                        }

                    </div>

                </div>

            </div>
        </div>
    </section>
    <script src="~/AdminLTE-3.0.4/login-form-19/js/jquery.min.js"></script>
    <script src="~/AdminLTE-3.0.4/login-form-19/js/popper.js"></script>
    <script src="~/AdminLTE-3.0.4/login-form-19/js/bootstrap.min.js"></script>
    <script src="~/AdminLTE-3.0.4/login-form-19/js/main.js"></script>
    <script>

        $(document).ready(function () {
            console.log("ready index!");

            $("#btnShow").click(function () {
                /*alert("Handler for .click() called.");*/
                alert($("#Password").val());
                $("#Password").attr("type", "text");
            });
            $("#btnShow2").click(function () {
                /*alert("Handler for .click() called.");*/
                alert($("#Passwordtekrar").val());
                $("#Passwordtekrar").attr("type", "text");
            });
        });
    </script>
</body>
</html>


                   
 


