@using Entities.Concrete
@model List<Class>

@{
    ViewData["Title"] = "GetAll";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="~/css/all.min.css"/>

</head>
<body>
    <div class="container">
        
        <br />
        
        <a href="/TrainingProgram/GetAllS" class="btn btn-gray">Hafta Sonu Programları</a>
        <div class="container">
            <div class="p-2 w-100 m-0">
                <button type="button" class="btn btn-primary float-lg-right" data-toggle="modal" data-target="#exampleModal">
                    Program ekle
                </button>
                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Program ekle</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <form method="post" action="/TrainingProgram/Add/">
                                <div class="modal-body">
                                  
                                    <div class="row">
                                        <div class="form-group col-md-6">

                                            <label class="form-control-label">Eğitimin Adı:</label>
                                            <select id="TrainingId" name="TrainingId" class="form-select" asp-items="(List<SelectListItem>)ViewBag.Lessons">
                                                <option value="0">Lütfen bir eğitim seçiniz!!</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-6">
                                            <label class="form-control-label">Sınıf İsmi:</label>
                                            <input id="selectNameId" name="ClassName" class="form-select" autocomplete="off" />
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label class="form-control-label">Sınıf Mevcudu:</label>
                                            <input id="selectNameId" name="Kota" class="form-select" autocomplete="off" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-6">
                                            <label class="form-control-label">Günleri:</label>
                                            <select id="selectNameId" name="Name" class="form-select">
                                                <option value="0">Lütfen bir eğitmen seçiniz!!</option>
                                                <option value="1">Hafta İçi</option>
                                                <option value="2">Hafta Sonu</option>
                                            </select>
                                        </div>
                                    </div>
                                  
                                    <input type="hidden" name="NameId" value="selectNameId" />
                                    
                                    <div class="modal-footer">
                                        <input type="hidden" name="TrainingProgramId" value="TrainingProgramId" />
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
                                        <button class="btn btn-info">Oluştur</button>
                                    </div>
                                </div>
                            </form>


                        </div>

                    </div>
                </div>

            </div>


            <br />
            <h3><b>Hafta İçi Programları</b></h3>
            <table class="table table-bordered">
                <tr>
                    <th><b>Eğitim sınıfı</b></th>
                    <th><b>Eğitim Setinin Adı</b></th>
                    <th><b>Eğitim Günleri</b></th>
                    <th><b>Eğitimin başlangıç tarihi</b></th>
                    <th><b>Eğitimin bitiş tarihi</b></th>
                    <th><b>Sınıfın kontenjanı</b></th>
                </tr>
                <!--Model içindeki her item için döngü dönecek ve değerleri tabloya yazılacak-->
                @foreach (var item in Model)
                {
            <tr>
                @*<td>@item</td>*@
                <td>@item.ClassName</td>
                <td>@item.Training.TrainingName</td>
                <td>@item.TrainingProgram.Name</td>
                <td>@item.Training.TrainingStartdate.ToString("dd.MM.yyyy")</td>
                <td>@item.Training.TrainingLastdate.ToString("dd.MM.yyyy")</td>
                <td>@item.Kota</td>
                @*
        <td>@item.Training.Trainingdate.ToString("dd.MM.yyyy")</td>
        <td>@item.Training.TotalHours</td>*@

                <input type="hidden" name="UserId" value="UserId" />
                <input type="hidden" name="TrainingId" value="TrainingId" />
                <td><a href="/Class/Add?TrainingProgramId=@item.TrainingProgramId" class="btn btn-success">Sınıf Ekle</a></td>
                @*<td><i class="fa-solid fa-trash"></i></td>*@
                @*<td><a href="/Class/GetAllP?TrainingProgramId=@item.TrainingProgramId" class="btn btn-primary">Sınıfları Gör</a></td>*@
                <td><a href="/TrainingProgram/Delete?TrainingProgramId=@item.TrainingProgramId" class="btn btn-danger">Sil</a></td>
                <td><a href="/TrainingProgram/Update?ClassId=@item.ClassId" class="btn btn-primary">Güncelle</a></td>
                <td>

                    <input type="hidden" name="TrainingProgramId" value="TrainingProgramId" />
                    <a href="/Class/TProgram?ClassId=@item.ClassId" class="btn btn-info">Ders Programını Gör</a>
                </td>
                <td><a href="/User/SListesi?ClassId=@item.ClassId" class="btn btn-secondary">Sınıf Listesi</a></td>
               
            </tr>

                }
            </table>
        </div>

        <br />
        

        <br />

</body>
</html>
