@model Entities.Concrete.Waiting

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>


<br />
<head>
    <title>Home - AuthTake @*:: w3layouts*@</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/web/css/style.css" type="text/css" media="all" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="~/web/css/slider.css" rel="stylesheet" type="text/css" media="all" />
    <script src="~/web/js/jquery.min.js"></script>
    <script src="~/web/js/responsiveslides.min.js"></script>
</head>
    <body>

        <h3>Kullanıcıyı silmek istediğinize emin misiniz?</h3>

        <br />
        <div>
            <br />
            <br />
            <br />
            <br />
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.Label("Öğrencinin Adı:")
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.User.FirstName)
                </dd>
                <dt class="col-sm-2">
                    @Html.Label("Öğrencinin Soyadı:")
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.User.LastName)
                </dd>
                <dt class="col-sm-2">
                    @Html.Label("Eğitimin Adı:")
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Training.TrainingName)
                </dd>
            </dl>
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <form asp-action="Delete">
                <input type="hidden" asp-for="WaitingId" />
                <input type="submit" value="Sil" class="btn btn-danger" />
                @*<a asp-action="Site/GetAll">Önceki Sayfa</a>*@
            </form>
            <br />
            <br />
            <a href="/Manager/GetAll?TrainingI=@Model.TrainingId" class="btn btn-success">Geri Dön</a>
        </div>
    </body>
</html>